In [1]:
# https://www.kaggle.com/shivamkushwaha/bbc-full-text-document-classification
!wget -nc https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv

File ‘bbc_text_cls.csv’ already there; not retrieving.

In [2]:
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.8/dist-packages (4.25.1)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.10.0 in /usr/local/lib/python3.8/dist-packages (from transformers) (0.11.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from transformers) (21.3)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from transformers) (0.13.2)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.8/dist-packages (from transformers) (4.64.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from transformers) (6.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.8/dist-packages (from transformers) (1.21.6)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from transformers) (3.8.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.8/dist-packages (from transformers) (2022.6.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub<1.0,>=0.10.0->transformers) (4.4.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.0->transformers) (3.0.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->transformers) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->transformers) (1.24.3)

In [3]:
import pandas as pd
import numpy as np
import textwrap
from transformers import pipeline

In [4]:
df = pd.read_csv("bbc_text_cls.csv")

In [5]:
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [6]:
doc = df[df.labels=='business']['text'].sample(random_state=42)

In [7]:
def wrap(x):
    return textwrap.fill(x, replace_whitespace=False, fix_sentence_endings=True)

In [8]:
print(wrap(doc.iloc[0]))

Christmas sales worst since 1981

UK retail sales fell in December,
failing to meet expectations and making it by some counts the worst
Christmas since 1981.

Retail sales dropped by 1% on the month in
December, after a 0.6% rise in November, the Office for National
Statistics (ONS) said.  The ONS revised the annual 2004 rate of growth
down from the 5.9% estimated in November to 3.2%. A number of
retailers have already reported poor figures for December.  Clothing
retailers and non-specialist stores were the worst hit with only
internet retailers showing any significant growth, according to the
ONS.

The last time retailers endured a tougher Christmas was 23 years
previously, when sales plunged 1.7%.

The ONS echoed an earlier
caution from Bank of England governor Mervyn King not to read too much
into the poor December figures.  Some analysts put a positive gloss on
the figures, pointing out that the non-seasonally-adjusted figures
showed a performance comparable with 2003. The November-December jump
last year was roughly comparable with recent averages, although some
way below the serious booms seen in the 1990s.  And figures for retail
volume outperformed measures of actual spending, an indication that
consumers are looking for bargains, and retailers are cutting their
prices.

However, reports from some High Street retailers highlight
the weakness of the sector.  Morrisons, Woolworths, House of Fraser,
Marks & Spencer and Big Food all said that the festive period was
disappointing.

And a British Retail Consortium survey found that
Christmas 2004 was the worst for 10 years.  Yet, other retailers -
including HMV, Monsoon, Jessops, Body Shop and Tesco - reported that
festive sales were well up on last year.  Investec chief economist
Philip Shaw said he did not expect the poor retail figures to have any
immediate effect on interest rates.  "The retail sales figures are
very weak, but as Bank of England governor Mervyn King indicated last
night, you don't really get an accurate impression of Christmas
trading until about Easter," said Mr Shaw.  "Our view is the Bank of
England will keep its powder dry and wait to see the big picture."

In [9]:
summarizer = pipeline("summarization")

No model was supplied, defaulted to sshleifer/distilbart-cnn-12-6 and revision a4f8f3e (https://huggingface.co/sshleifer/distilbart-cnn-12-6).
Using a pipeline without specifying a model name and revision in production is not recommended.

In [10]:
summarizer(doc.iloc[0].split('\n', 1)[1])

[{'summary_text': ' Retail sales dropped by 1% on the month in December, after a 0.6% rise in November . Clothing retailers and non-specialist stores were the worst hit with only internet retailers showing any significant growth . The last time retailers endured a tougher Christmas was 23 years ago, when sales plunged 1.7% .'}]

In [11]:
def print_summary(doc):
    result = summarizer(doc.iloc[0].split('\n', 1)[1])
    print(wrap(result[0]['summary_text']))

In [12]:
print_summary(doc)

 Retail sales dropped by 1% on the month in December, after a 0.6%
rise in November . Clothing retailers and non-specialist stores were
the worst hit with only internet retailers showing any significant
growth . The last time retailers endured a tougher Christmas was 23
years ago, when sales plunged 1.7% .

In [13]:
doc = df[df.labels=='entertainment']['text'].sample(random_state=42)
print(wrap(doc.iloc[0]))

Career honour for actor DiCaprio

Actor Leonardo DiCaprio's
"exceptional career" has been honoured at the Santa Barbara
International Film Festival.

The star was presented with the award by
Martin Scorsese, who directed him in Oscar-nominated movie The
Aviator.  "It's a lifetime achievement award, which is completely and
utterly surreal, given I'm only 30 years old," DiCaprio said.  "But
what has it been?  Almost 17 years now.  I've done quite a few films."
A retrospective of his movies was shown.

"What's really exciting, for
me, is that this is what I really love doing," he added.  "It's what I
want to do for the rest of my life."  DiCaprio began his movie career
in horror film Critters 3, before moving onto roles in The Basketball
Diaries, Romeo and Juliet, Titanic and Gangs of New York.  The
achievement award was created to commemorate the California festival's
20th anniversary and coincided with DiCaprio's portrayal of
millionaire Howard Hughes in The Aviator.

Veteran actress Jane
Russell, who starred in Hughes' 1943 film The Outlaw, said was
impressed by DiCaprio's quest for authenticity when he previously
discussed the role with her.  "I was very happy that (DiCaprio) came
and cared to come up and find out what (Hughes) was really like," she
said.  The Aviator has taken pole position in this year's Oscars race
with 11 nominations, including nominations for best film, best actor
for DiCaprio and best director for Scorsese.

In [14]:
print_summary(doc)

 Leonardo DiCaprio honoured with lifetime achievement award at Santa
Barbara International Film Festival . The award was created to
commemorate the California festival's 20th anniversary . The Aviator
has taken pole position in this year's Oscar race with 11 nominations
for best actor . Actress Jane Russell said she was impressed by his
quest for authenticity in the role of Howard Hughes .

END